body {
    font-family: "Poppins", sans-serif;
}

/*navbar*/
.nav-link.active.pet-nav-active{
    background-color: rgb(158, 152, 152);
    color: #fff;
}

#petAdoptNav > .primary-nav > .nav-item:hover {
    background-color: #d0cccc;
    border-radius: 0.25rem;
    border: 0;
}

/* social buttons - navbar */
.fb-color {
    background-color: #3b5998;
}

.insta-color {
    background-color: #ac2bac;
}

.wa-color {
    background-color: #25d366;
}

/* carousel */
.carousel-caption {
    bottom: 0;
    background-color: #0000006e;
    left: 0;
    max-width: 100%;
    width: 100%;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
}

.carousel-item {
    text-align: center;
    object-fit: cover;
    object-position: center;
    height: auto;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
}

/* comment box */
.users-section {
    background-color: lightgray;
    border-radius: 2em;
}

/* progress tracker */
#progressbar {
    overflow: hidden;
    color: white;
    padding-left: 0px;
}

#progressbar li {
    list-style-type: none;
    font-size: 1rem;
    width: 20vh;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #step1:before {
    content: "";
    color: #fff;
    max-width: 20px;
    min-height: 20px;
    margin-left: 0px !important;
}

#progressbar #step2:before {
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    margin-left: 40% !important;
}

#progressbar #step3:before {
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    margin-right: 0% !important;
}

#progressbar li:before {
    line-height: 32px;
    display: block;
    font-size: 12px;
    background: rgb(151, 149, 149);
    border-radius: 50%;
    margin: auto;
    z-index: -1;
}

#progressbar li:after {
    content: "";
    height: 3px;
    background: rgb(151, 149, 149, 0.651);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 8px;
    z-index: 1;
}

.progress-track {
    padding: 0 8%;
}

#progressbar li:nth-child(2):after {
    margin-right: auto;
}

#progressbar li:nth-child(1):after {
    margin: auto;
}

#progressbar li:nth-child(3):after {
    margin-left: auto;
}

#progressbar li.active-step:before,
#progressbar li.active-step:after {
    background: rgb(85, 84, 84);
}


/* custom progress bar height */
.custom-progress-height {
    height: 3px;
}

/* pets image */
.rounded.img-fluid{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}